
.footer-layout-2 {
	text-align: center;
	
	.site-footer__top {
		.site-footer__col {
			padding: $gutter;
		}
	}
	@media (min-width: $md) {
		.menu {
			font-size: 0;
			margin: 0;
			
			li {
				display: inline-block;
				position: relative;
				font-size: $footer-menu-link-font-size;

				&:after {
					content: "";
					height: 1em;
					width: 1px;
					background: $footer-menu-link-color;
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translate(0,-50%));
				}
				&:last-child:after {
					content: none;
				}
				a {
					padding: 10px 15px;
				}
			}

		}
		.site-footer__bottom {

			.left-block {
				text-align: left;
			}
			.right-block {
				text-align: right;
			}
		}
	}
}